Environment="DEVICE_NAME=volumio"Environment="DEVICE_NAME=volumio"Environment="BACKEND_ARGS=--backend alsa[Unit]
Description=Raspotify
After=network.target

[Service]
User=raspotify
Group=raspotify
Restart=always
RestartSec=10
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -m 0755 -p /home/pi/raspotify ; /bin/chown raspotify:raspotify /home/pi/raspotify
Environment="DEVICE_NAME=volumio"
Environment="BITRATE=320"
Environment="CACHE_ARGS=--disable-audio-cache"
Environment="VOLUME_ARGS=--enable-volume-normalisation --linear-volume --initial-volume=0"
Environment="BACKEND_ARGS=--backend alsa"
Environment="BACKEND=--pipe"
EnvironmentFile=-/etc/default/raspotify
ExecStart=/usr/bin/librespot --name ${DEVICE_NAME} $BACKEND_ARGS --bitrate ${BITRATE} $CACHE_ARGS $VOLUME_ARGS $OPTIONS

[Install]
WantedBy=multi-user.target

